html,body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #FDFEFE;
}

a,a:hover,a:visited {
    text-decoration: none;
    color: #EEE;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li.border {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 0;
    background-color: #fff;
}

.tip {
    text-align: center;
}

.fwb {
    font-weight: bold;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.tip-block {
    display: block;
    margin-top: 5px;
    color: #737373;
    font-size: 80%;
}

@media screen and ( min-width : 480px) {
    body {
        width: 480px;
        margin: 0 auto;
    }
    .navbar {
        width: 480px;
        margin: 0 auto;
    }
}

/* Portrait layout (default) */
.app {
    
}
/* header */
.nav-header {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 125%;
    color: #FFF;
    position: relative;
}

.nav-header .back {
    float: left;
    padding-left: 22px;
    position: relative;
    color: #FFF;
    font-size: 80%;
    height: 40px;
    line-height: 40px;
    height: 40px;
}

.nav-header .back:before {
    border: #EEE solid 2px;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -6px;
    display: block;
    content: '';
    width: 12px;
    height: 12px;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-header .title {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -75px;
    width: 150px;
    height: 40px;
}

.option-new {
    float: right;
    font-size: 30px;
    font-weight: normal;
    color: #FFF;
    height: 30px;
    line-height: 30px;
    margin-right: 15px;
    margin-top: 5px;
    cursor: pointer;
}

.option-list {
    list-style: none;
    margin: 0;
    padding: 5px 10px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    color: #FFF;
    top: 45px;
    right: 10px;
    font-size: 14px;
    font-weight: normal;
    border-radius: 3px;
}

.option-item {
    border-bottom: 1px solid #ccc;
    padding: 4px 8px;
}

.option-item:last-child {
    border-bottom: none;
}

/* navigation */
.nav-item {
    text-align: center;
    width: 33.3333333%;
    color: #EEE;
    font-size: 12px;
    cursor: pointer;
}

.nav-item.active a {
    color: #3F91CC !important;
}

.nav-icon {
    background-image: url("../img/sprite_mobile.png");
    background-size: 271px 236px;
    width: 25px;
    height: 25px;
    display: block;
    margin: auto;
}

.nav-item .home {
    background-position: 0 0;
}

.nav-item.active .nav-icon.home {
    background-position: -33px 0;
}

.nav-item .discover {
    background-position: -132px 0;
}

.nav-item.active .nav-icon.discover {
    background-position: -159px 0;
}

.nav-item .account {
    background-position: -188px 0;
}

.nav-item.active .nav-icon.account {
    background-position: -220px 0;
}
/* navigation end */
.content {
    margin: 40px 0 50px;
}

/* home */
.slide {
    height: 120px;
    background-color: #feabce;
    margin-bottom: 10px;
}

.forum-header {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 110%;
}

.fixed-forum {
    border-bottom: 1px solid #eee;
    padding-left: 10px;
}

.custom-forum {
    border-bottom: 1px solid #eee;
    padding-left: 10px;
}

.forum-icon {
    display: inline-block;
    width: 70px;
    /* margin-bottom: 10px; */
    margin-right: 10px;
    line-height: 1.42857143;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.forum-icon img {
    border-radius: 10px;
    width: 70px;
    height: 70px;
}

.forum-icon p {
    margin: 0;
    padding: 5px 0 10px 3px;
}

.forum-list {
    white-space: nowrap;
    overflow: auto;
    overflow-style: move;
}
/* home end */

/* discover */
/* discover end */

/* account */
#account {
    padding-top: 10px;
}

.section {
    margin: 0 0 20px 0;
    padding: 0 0 0 10px;
    border-top: 1px solid #EEE;
    border-right: none;
    border-bottom: 1px solid #EEE;
    border-left: none;
    background-color: #FFF;
}

.section .setting-item {
    border-bottom: 1px solid #EEE;
    overflow: hidden;
    padding: 5px 0;
    width: 100%;
    text-align: left;
    position: relative;
}

.section .setting-item:last-child {
    border-bottom: none;
}

.section .avatar {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.section .nickname {
    display: inline-block;
}

.section .icon {
    width: 30px;
    height: 30px;
}

.section .desc {
    position: absolute;
    left: 40px;
    top: 10px;
}

.section .more {
    float: right;
    padding-left: 18px;
    position: absolute;
    right: 10px;
    top: 50%;
    color: #333;
}

.section .more:after {
    border: #CCC solid 2px;
    position: absolute;
    left: -6px;
    top: 50%;
    margin-top: -6px;
    display: block;
    content: " ";
    width: 12px;
    height: 12px;
    border-left: none;
    border-bottom: none;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* account end */

/* forum */
.subnav {
    text-align: center;
    padding-top: 6px;
}

.post-item {
    border: 1px solid #EEE;
    border-radius: 5px;
    margin: 5px 5px;
    background-color: #FFF;
    padding: 8px;
}

.post-info {
    
}

.post-icon {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 8px;
}

.post-nick {
    display: block;
    font-size: 80%;
    color: #666;
    line-height: 1;
    padding-top: 2px;
}

.post-time {
    font-size: 10px;
    color: #999;
}

.post-detail {
    margin: 2px 0 0 0;
}

.post-title {
    font-size: 16px;
}

.post-status {
    display: inline-block;
    border-radius: 2px;
    line-height: 12px;
    font-size: 12px;
    padding: 2px;
    border: 1px solid #3381e3;
    color: #3381e3;
    vertical-align: text-bottom;
    margin-right: 5px;
}

.post-status-live {
    color: #57b269;
    border-color: #57b263;
}

.post-reply {
    text-align: right;
    font-size: 12px;
    color: #666;
}
/* forum end */

/* common input*/
.editor-input {
    white-space: pre-wrap;
    word-wrap: break-word;
    display: block;
    width: 100%;
    border: 1px solid #dee0e0;
    box-shadow: none;
    padding: 10px 8px;
    background: #fff;
    border-radius: 2px;
    color: #666;
}
/* common input end*/

/* subject */
.subject-editor {
    margin: 0 10px 0 10px;
    padding-top: 10px;
}

.subject-editor .editor-title {
    font-size: 13px;
    color: #262626;
    border-radius: 2px 2px 0 0;
    line-height: 16px;
}

.subject-editor .editor-content {
    font-size: 13px;
    color: #262626;
    border-radius: 0;
    line-height: 16px;
    height: 80px;
    margin-top: 2px;
}

.subject-editor .editor-btn {
    margin-top: 10px;
}

.subject-editor .editor-btn-media {
    display: inline-block;
}

.subject-editor .editor-btn-media .image {
    background-size: 64px auto;
    margin: 0 3px;
    border: 1px solid transparent;
    border-radius: 2px;
    background-image: url("/img/post-icon.png");
    width: 32px;
    height: 32px;
    display: inline-block;
}

.subject-editor .editor-btn-media .enable {
    background-position: 0 0;
}

.subject-editor .editor-btn-media .disable {
    background-position: 32px 0;
}

.subject-editor .editor-btn-post {
    float: right;
}

.subject-editor .editor-btn-post a {
    border: 0;
    background: #2b83ef;
    box-shadow: none;
    border-radius: 2px;
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
}

.subject-detail {
    padding: 12px 15px 0 15px;
}

.seprator {
    border-bottom: 1px solid #ccc;
    margin: 10px -15px;
}

.subject-detail .replies {
    list-style: none;
    margin: 0;
    padding: 0;
}

.subject-detail .reply-item {
    border-bottom: 1px solid #eee;
    margin-top: 15px;
    padding-bottom: 15px;
}

.subject-detail .post-reply {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #ccc;
    text-align: center;
    background-color: #F4F6F8;
}

.post-reply .reply {
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 26px;
    line-height: 26px;
    display: inline-block;
    width: 100px;
}

.post-reply .reply-input {
    height: 32px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.post-reply .reply-btn {
    height: 30px;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* subject end */

/* location */
.location {
    padding: 10px 5px;
}

.location .loc-search {
    position: relative;
    display: table;
    border-collapse: separate;
}

.location .loc-search input {
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    height: 34px;
    padding: 6px 12px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow
        ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.location .loc-search span {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
    cursor: pointer;
}

.location .loc-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.location .loc-item {
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    padding: 6px 12px;
    margin: 10px 0;
    background-color: #fff;
}

.location .loc-name {
    color: #000;
}

.location .loc-address {
    color: #666;
    font-size: 60%;
}

.location .loading {
    text-align: center;
    margin: 10px;
}
/* location end */

/* signup */
.signup {
    padding-top: 10px;
}

.login-item {
    padding: 6px 15px;
}

.login-a,.login-a:hover,.login-a:visited {
    text-decoration: none;
    color: #428bca;
}
/* signup end */