<div id="account">
    <ul class="section">
        <li class="setting-item" ng-click="userinfo()">
            <img class="avatar" alt="头像" ng-src="{{user.imgurl}}">
            <span class="nickname" ng-bind-template="{{user.nickname || '昵称'}}"></span>
            <i class="more"></i>
        </li>
    </ul>
    
    <ul class="section">
        <li class="setting-item" ng-click="favor('subject')">
            <img class="icon" alt="" src="/img/favorite.png">
            <span class="">我的话题</span>
            <i class="more"></i>
        </li>
        <li class="setting-item" ng-click="favor('activity')">
            <img class="icon" alt="" src="/img/star.png">
            <span class="">我的活动</span>
            <i class="more"></i>
        </li>
    </ul>
    
    <ul class="section">
        <li class="setting-item" ng-click="settings()">
            <img class="icon" alt="" src="/img/setting.png">
            <span class="">设置</span>
            <i class="more"></i>
        </li>
    </ul>
</div>