<div id="userinfo">
    <ul class="section">
        <li class="setting-item" ng-click="modifyAvatar()">
            <span class="fwb">头像</span>
            <img class="avatar uv" alt="头像" ng-src="{{user.imgurl}}">
            <input type="file" hidden="hidden" ng-show="false">
            <i class="more"></i>
        </li>
        <li class="setting-item" ng-click="modify('nickname')">
            <span class="fwb">昵称</span>
            <span class="uv" ng-bind="user.nickname" ng-hide="modifynickname"></span>
            <input class="uv" ng-model="user.nickname" ng-show="modifynickname" ng-focus>
            <i class="more"></i>
        </li>
        <li class="setting-item" ng-click="modify('floor')">
            <span class="fwb">楼牌号</span>
            <span class="uv"></span>
            <i class="more"></i>
        </li>
    </ul>
    
    <ul class="section">
        <li class="setting-item" ng-click="modify('name')">
            <span class="fwb">姓名</span>
            <span class="uv"></span>
            <i class="more"></i>
        </li>
        <li class="setting-item" ng-click="modify('gender')">
            <span class="fwb">性别</span>
            <span class="uv"></span>
            <i class="more"></i>
        </li>
        <li class="setting-item" ng-click="modify('age')">
            <span class="fwb">年龄</span>
            <span class="uv"></span>
            <i class="more"></i>
        </li>
    </ul>
</div>