<div id="activity">
    <div class="description"></div>
    <div class="activity-editor">
        <form name="postForm">
        <ul>
            <li>
                <input class="editor-input" name="title" placeholder="标题" required="required">
            </li>
            <li>
                <input class="editor-input" name="title" placeholder="标题" required="required">            
            </li>
            <li>
                <input class="editor-input" name="title" placeholder="标题" required="required">
            </li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        </form>
    </div>
</div>