<div id="forum">
    <div class="subnav">
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-click="showActivity()">活动</button>
            <button type="button" class="btn btn-default" ng-click="showSubject()">帖子</button>
        </div>
    </div>
    <ul class="post-list">
        <li class="post-item" ng-repeat="activity in activities" ng-click="showActivity(activity.id)">
            <div class="post-info">
                <img class="post-icon" alt="" ng-src="{{activity.user.icon}}">
                <span class="post-nick" ng-bind="activity.user.nick"></span>
                <span class="post-time" ng-bind="activity.time"></span>
            </div>
            <div class="post-detail">
                <span class="post-status post-status-live" ng-show="activity.status" ng-bind="activity.status"></span>
                <span class="post-title" ng-bind="activity.title"></span>
            </div>
        </li>
        <li class="post-item" ng-repeat="subject in subjects" ng-click="showSubject(subject.id)">
            <div class="post-info">
                <img class="post-icon" alt="" ng-src="{{subject.user.icon}}">
                <span class="post-nick" ng-bind="subject.user.nick"></span>
                <span class="post-time" ng-bind="subject.time"></span>
            </div>
            <div class="post-detail">
                <span class="post-status" ng-show="subject.status" ng-bind="subject.status"></span>
                <span class="post-title" ng-bind="subject.title"></span>
            </div>
            <div class="post-reply" ng-bind-template="{{subject.reply}}人参与"></div>
        </li>
    </ul>
</div>