<div id="home">
    <div class="slide">
    Slide
    </div>
    <div class="fixed-forum">
        <div class="forum-header">分类版块</div>
        <div class="forum-list">
            <div class="forum-icon" ng-click="jumpToForum(6)">
                <img src="/img/forum-icon60.jpg" alt="...">
                <p>运动休闲</p>
            </div>
            <div class="forum-icon" ng-click="jumpToForum(1)">
                <img src="/img/forum-icon60.jpg" alt="...">
                <p>拼车购车</p>
            </div>
            <div class="forum-icon" ng-click="jumpToForum(2)">
                <img src="/img/forum-icon60.jpg" alt="...">
                <p>房屋租赁</p>
            </div>
            <div class="forum-icon" ng-click="jumpToForum(3)">
                <img src="/img/forum-icon60.jpg" alt="...">
                <p>跳蚤市场</p>
            </div>
            <div class="forum-icon" ng-click="jumpToForum(4)">
                <img src="/img/forum-icon60.jpg" alt="...">
                <p>生活窍门</p>
            </div>
            <div class="forum-icon" ng-click="jumpToForum(5)">
                <img src="/img/forum-icon60.jpg" alt="...">
                <p>家居装修</p>
            </div>
            <div class="forum-icon" ng-click="jumpToForum(6)">
                <img src="/img/forum-icon60.jpg" alt="...">
                <p>亲子教育</p>
            </div>
        </div>
    </div>
    <div class="custom-forum">
        <div class="forum-header">自定义版块</div>
        <div class="forum-list">
            <div class="forum-icon" ng-click="jumpToForum(7)">
                <img src="/img/forum-icon60.jpg" alt="...">
                <p>物业</p>
            </div>
            <div class="forum-icon" ng-click="jumpToForum(8)">
                <img src="/img/forum-icon60.jpg" alt="...">
                <p>匿名</p>
            </div>
            <div class="forum-icon" ng-click="jumpToForum(9)">
                <img src="/img/forum-icon60.jpg" alt="...">
                <p>大杂烩</p>
            </div>
            <div class="forum-icon" ng-click="jumpToForum(0)">
                <img src="/img/forum-icon60.jpg" alt="...">
                <p>群聊</p>
            </div>
        </div>
    </div>
    <div class="topx"></div>
</div>