<div id="location">
    <div class="location">
        <div class="loc-search input-group">
            <input class="" ng-model="keyword" id="keyword" name="keyword" placeholder="搜索">
            <span class="" ng-click="search()">查询</span>
        </div>
        <div class="desc" ng-show="warning">您的设备不支持获取位置信息，请手动搜索。</div>
        <div class="loc-list">
            <div ng-hide="locs" class="loading">
                <img alt="" width="20px" ng-src="/img/loading.gif">
            </div>
            <ul>
                <li class="loc-item" ng-repeat="loc in locs" ng-click="selectLoc(loc.uid, loc.name)">
                    <div class="loc-name" ng-bind="loc.name"></div>
                    <div class="loc-address" ng-bind="loc.address"></div>
                </li>
            </ul>
            
        </div>
    </div>

</div>