<div id="login">
    <div class="signup">
        <div class="login-item">
            <input type="text" name="username" class="form-control" placeholder="用户名">
        </div>
        <div class="login-item">
            <input type="password" name="password" class="form-control" placeholder="密码">
        </div>
        <div class="login-item" ng-show="warning">
            <span class="text-warning" ng-bind="warning"></span>
        </div>
        <div class="login-item">
            <button type="button" class="btn btn-info btn-block" ng-click="login()">登录</button>
        </div>
        <div class="login-item">
            <a class="float-left login-a" href="#/register">没有账号？立即注册</a>
            <a class="float-right login-a" href="#/forgotpwd">忘记密码</a>
        </div>
    </div>
</div>