<div id="register">
    <div class="signup">
        <div class="login-item">
            <input type="text" name="username" class="form-control" placeholder="用户名">
            <small class="tip-block">用来登录小区在线，只能是字母、数字、下划线</small>
        </div>
        <div class="login-item">
            <input type="text" name="username" class="form-control" placeholder="昵称">
            <small class="tip-block">中英文均可，最长14个英文或7个汉字</small>
        </div>
        <div class="login-item">
            <input type="password" name="password" class="form-control" placeholder="密码">
            <small class="tip-block">请输入6-16位数字、字母或常用符号</small>
        </div>
        <div class="login-item">
            <input type="password" name="password" class="form-control" placeholder="确认密码">
        </div>
        <div class="login-item" ng-show="warning">
            <span class="text-warning" ng-bind="warning"></span>
        </div>
        <div class="login-item">
            <button type="button" class="btn btn-info btn-block" ng-click="register()">注册</button>
        </div>
        
    </div>
</div>