<div id="subject">
    <div class="desc"></div>
    <div class="subject-editor">
        <form name="postForm">
            <div>
                <input class="editor-title editor-input" name="title" placeholder="标题" required="required">
            </div>
            <div>
                <textarea class="editor-content editor-input" name="content" placeholder="这里是内容" required="required"></textarea>
            </div>
            <div class="editor-btn">
                <div class="editor-btn-media">
                    <a class="image enable" href="javascript:void(0);" onclick="file.click()">
                    <input type="file" name="file" id="file" accept="image/*" multiple="multiple" style="display: none;"></a>
                </div>
                <div class="editor-btn-post">
                    <a class="" ng-click="post()">发表</a>
                </div>
            </div>
        </form>
    </div>
</div>