<div id="subject">
    <div class="subject-detail">
        <div class="post-info">
            <img class="post-icon" alt="" ng-src="{{subject.user.icon}}">
            <span class="post-nick" ng-bind="subject.user.nick"></span>
            <span class="post-time" ng-bind="subject.time"></span>
        </div>
        <div class="post-detail">
            <h6 class="post-title" ng-bind="subject.title"></h6>
            <p class="post-content" ng-bind="subject.content"></p>
            <img alt="图片" ng-src="{{subject.imgUrl}}" ng-show="subject.imgUrl" width="100%">
        </div>
        <div class="seprator"></div>
        <ul class="replies">
            <li class="reply-item" ng-repeat="reply in replies">
                <div class="post-info">
                    <img class="post-icon" alt="" ng-src="{{reply.user.icon}}"> 
                    <span class="post-nick" ng-bind="reply.user.nick"></span>
                    <span class="post-time" ng-bind="reply.time"></span>
                </div>
                <div class="post-detail">
                    <p class="post-content" ng-bind="reply.content"></p>
                    <img alt="图片" ng-src="{{reply.imgUrl}}" ng-show="reply.imgUrl" width="100%">
                </div>
            </li>
        </ul>
        <div class="post-reply">
            <div ng-hide="reply">
                <span class="reply" style="margin-right: 10px;" ng-bind-template="{{replies.length}}人参与"></span>
                <span class="reply" style="margin-left: 10px;" ng-click="doReply()">回复</span>
            </div>
            <div ng-show="reply">
                <input type="text" class="reply-input" name="content" placeholder="我也说一句...">
                <button type="button" class="reply-btn" ng-click="postReply()">发表</button>
            </div>
        </div>
    </div>

</div>