<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=medium" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <meta name="msapplication-tap-highlight" content="no" />
        <title>小区在线</title>
    </head>
    <body ng-app="myApp">
        <div class="" ng-controller="IndexCtrl">
            <header class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom: 0; min-height: 40px;">
                <div class="nav-header">
                    <a class="back" href="javascript:void(0)" ng-click="back()" ng-show="config.back" ng-bind-template="{{config.backTitle}}"></a>
                    <span class="title" ng-bind-template="{{config.title}}">我的小区</span>
                    <span class="option-new" ng-click="showOption()" ng-show="options">
                        <span>+</span>
                        <span class="option-list" ng-show="show">
                            <li class="option-item" ng-repeat="option in options" ng-click="showOption(option.id)">
                                <span></span>
                                <span ng-bind="option.text"></span>
                            </li>
                        </span>
                    </span>
                </div>
            </header>
            <div class="content" ng-view>
            </div>
            <nav class="navbar navbar-inverse navbar-fixed-bottom" ng-hide="config.back || config.hideNav">
                <table style="width: 100%; margin-top: 4px">
                    <tr>
                        <td class="nav-item {{config.home}}">
                            <a href="#/home">
                            <i class="nav-icon home"></i>
                            <div class="nav-label">小区</div>
                            </a>
                        </td>
                        <td class="nav-item {{config.discover}}">
                            <a href="#/discover">
                            <i class="nav-icon discover"></i>
                            <div class="nav-label">发现</div>
                            </a>
                        </td>
                        <td class="nav-item {{config.account}}">
                            <a href="#/account">
                            <i class="nav-icon account"></i>
                            <div class="nav-label">我</div>
                            </a>
                        </td>
                    </tr>
                </table>
            </nav>
        </div>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/angular-route.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/controllers.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript">
        </script>
    </body>
</html>
